body {
    margin: 8px;
    background-color: navy;
}

.main {
    padding: 1em ;
    padding-bottom: 48px;
}

p {
    color: white;
}

h1 {
    color: khaki;
}

.grid-item {
    width: 200px;
    height: 200px;
    margin: 5px;
    float: left;
}

a {
    color: wheat;
}