body {
    margin: 8px;
    background-color: navy;
}

.main {
    padding: 1em ;
    padding-bottom: 48px;
}

.accordion-container {
    width: 400px;
    margin: 20px auto;
}
.accordion-header {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}
.accordion-content {
    background-color: #f4f4f4;
    padding: 10px;
}